# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
*.coverage
*.cover
htmlcov/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm project files
.idea/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Other IDEs and editors
*.sublime-project
*.sublime-workspace
*.swp
*.swo

